<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An Internal Server error occured!</h1>
    <p>Please try again, after some time</p>

    <%- include('includes/end.ejs') %>
</body>
